{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation %}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Contact Us</font></h1>
{% endblock %}


{% block main %}
    <form method="post">

        {% csrf_token %}

        {{form|crispy}}

        <div class="mt-3">
            <input class="btn btn-success" type="submit" value="Send a message">
            <a class="btn btn-light" href="{% url 'index' %}">Home</a>
        </div>
    </form>
{% endblock %}
