{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block operation%}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Account update</font> </h1>
{% endblock %}


{% block main %}
    <div>
        <form method='post'>
          {% csrf_token %}
          {{form|crispy}}

        <div style="text-align: center; font-size: 33px; font-family: Arial">TEST RESULTS:</div>
                <br>
                <table class="table table-striped table-hover">
                      <tr>
                        <th>#</th>
                        <th>Test</th>
                        <th>Create date</th>
                        <th>Write date</th>
                        <th>Points</th>
                        <th>State</th>
                      </tr>
                            {% for result in object_list %}
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ result.test }}</td>
                                    <td>{{ result.create_date }}</td>
                                    <td>{{ result.write_date }}</td>
                                    <td>{{ result.points }}</td>
                                    <td>{{ result.get_state_display }}</td>
                                  </tr>
                            {% endfor %}
                </table>
            <div style="text-align: center; font-size: 33px; font-family: Arial">TOTAL SCORE: {{ user.rating }}</div>
            <br>

          <input class="btn btn-success" type="submit" value="Save">
          <a href="{% url 'accounts:password' %}" class="btn btn-info">Change password</a>
        </form>
    </div>
{% endblock %}

