{% extends 'base.html' %}

{% block operation %}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Do you really want to delete this result ?</font></h1>
{% endblock %}

{% block main %}

    <form method='post'>
        {% csrf_token %}

        <input type="submit" class="btn btn-danger" value="Delete">
        <a href="{% url 'tests:details' result.test.uuid  %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}