{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Error 500</title>
{% endblock %}

{% block operation %}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Something went wrong :(</font> </h1>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Error 500</h1>
            <p class="lead">Internal Server Error</p>
            <hr class="my-4">
            <p>Back to main page</p>
            <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Home</a>
        </div>
    </div>
{% endblock %}