<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block title %}
        <title>Quiz</title>
{% endblock %}
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark bg-primary font-weight-bold ">
  <div class="container">

  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tests:list' %}" style="color: white; font-size: 20px">Tests<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tests:users' %}" style="color: white; font-size: 20px">Leaderboard</a>
      </li>
    </ul>

    <ul class="navbar-nav ">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" style="color: white; font-size: 20px">Admin</a>
          </li>

        {% if user.is_authenticated %}

           <li>
             <img alt="Profile pic" width="36" height="36" class="rounded-circle p-1 m-1" src="{{ user.image.url }}">
           </li>

           <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:profile' %}" style="color: white; font-size: 20px">Profile ({{user.username}})</a>
            </li>

           <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:contact_us' %}" style="color: white; font-size: 20px">Contact Us</a>
           </li>

           <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:logout' %}" style="color: white; font-size: 20px">Logout</a>
           </li>

        {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:registration' %}" style="color: white; font-size: 20px">Registration</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}" style="color: white; font-size: 20px">Sign in</a>
            </li>

        {% endif %}
       </ul>
  </div>
  </div>
</nav>


<div class="container" >

    {% include 'includes/messages.html' %}

    <div class="border p-3 m-3 rounded bg-light shadow" style="text-align: center">
        {% block operation %}
            <h1>Welcome to Quiz</h1>
        {% endblock %}
    </div>

{% block main %}
{% endblock %}

</div>


</body>
</html>