{% extends 'base.html' %}

{% block operation %}
    <h1><font size="60px" color="#ffa600"  face="Calibri">Leaderboard</font></h1>
{% endblock %}

{% block main %}

<table class="table table-hover">
          <tr>
            <th>#</th>
            <th></th>
            <th>User</th>
            <th>Rating</th>
          </tr>
    {% for user in users %}
        <tr>
            {% if user.rating != 0 %}
                <td>{{ forloop.counter }}</td>
                <td> <img class="rounded-circle" src="{{ user.image.url }}" width="40" height="40"></td>
                <td>{{ user }}</td>
                <td>{{ user.rating }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}